.title {
  font-family: adriane-text;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 2.7em;
  letter-spacing: 10px;
  text-align: center;
  text-transform: none;
  margin: 0; /* Remove margin to prevent spacing issues */
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "EB Garamond"; */
  background-color: white;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  margin: 10px;
  color: black;
}

.navbar {
  display: none;
  background-color: #f0f0f0;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar li {
  margin: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  /* width: auto;
    max-height: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.details {
  width: 100%;
}

.publication {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.publication-section {
  margin-bottom: 30px;
}

.publication-section h2 {
  font-family: Garamond;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.publication-list {
  list-style: none;
  padding-left: 20px;
}

.publication-list li {
  margin-bottom: 10px;
}

.publication-list li a {
  font-family: Garamond;
  color: #0c0c0c;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  display: block;
}

.publication-list li a:hover {
  color: #0c0c0c;
}
@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }

  .close-btn {
    display: none;
  }
  .navbar {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    position: relative;
    z-index: 0;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar li {
    margin: 0 10px;
  }

  .header {
    flex-direction: column;
    padding: 10px 20px;
  }

  .content {
    padding: 20px;
  }

  .flex-container {
    flex-direction: row;
    align-items: flex-start;
    width: 75%;
    margin: 0 auto;
  }

  .image {
    /* width: auto;
    max-height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .details-paragraph {
    display: block;
    font-family: Cormorant Garamond;
    /* font-family: "Ubuntu", sans-serif; */
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    text-align: justify;
    line-height: 1.8;
    font-weight: 100;
  }
  /* .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .contact-info {
    text-align: center;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  } */

  .contact {
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .contact-info {
    text-align: center;
    padding: 20px;
    background-color: white;
  }
  .contact-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    /* width: 400px; 
    height: 100px; 
    margin-top: 20px; */
  }

  .social-icons {
    margin-top: 20px;
    font-size: 24px;
  }

  .social-icons a {
    color: #333;
    margin: 0 10px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-links button {
    font-family: adriane-text;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #080809; /* Change this color to your desired link color */
    text-decoration: none;
    letter-spacing: 1px;
  }

  .nav-links button:hover {
    text-decoration: underline;
  }

  .contact-paragraph {
    font-family: Garamond;
    text-align: justify;
    line-height: 1.8;
    font-weight: 100;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    position: absolute;
    display: block;
    cursor: pointer;
    color: black;
    font-size: 26px;
    letter-spacing: 2px;
    top: 26px;
    right: 14px;
  }
  .title {
    display: block;
    margin-left: -12px;
    margin-right: auto;
    font-family: adriane-text;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 2.5em;
    letter-spacing: 3px;
    text-align: left;
    text-transform: none;
  }
  .navbar.active {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  .navbar.active .overlay {
    display: block;
  }

  .navbar.active ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px 0;
  }
  .navbar.active li {
    margin: 0 10px;
    padding: 10px;
  }
  .navbar.active a {
    /* text-decoration: none;
    color: black;
    font-size: 14px; */

    font-family: adriane-text;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: none;
    text-decoration: none;
    line-height: 1.5;
  }

  .image {
    width: auto;
    max-height: auto;
    /* display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%; */
  }
  .details-paragraph {
    font-family: Cormorant Garamond;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: justify;
    line-height: 1.6;
    padding: 0;
    font-weight: 100;
  }

  .close-btn {
    position: absolute;
    font-size: 26px;
    top: 26px;
    right: 40px;
  }
  .contact {
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .contact-info {
    text-align: center;
    padding: 20px;
    background-color: white;
  }
  .contact-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
  }

  .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-links button {
    font-family: adriane-text;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #080809; /* Change this color to your desired link color */
    text-decoration: none;
    letter-spacing: 1px;
  }

  .nav-links button:hover {
    text-decoration: underline;
  }

  .social-icons {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
  }

  .social-icons a {
    color: #333;
    margin: 0 10px;
  }
  .contact-paragraph {
    font-family: adriane-text;
    text-align: justify;
    line-height: 1.8;
    font-weight: 100;
  }
}
